@import url('https://fonts.googleapis.com/css2?family=Swanky+and+Moo+Moo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  linear-gradient(#cccde0 2px, transparent 2px), linear-gradient(90deg, #cccde0 2px, transparent 2px), linear-gradient(#cccde0 1px, transparent 1px), linear-gradient(90deg, #cccde0 1px, #e5e5f7 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    font-family: 'Swanky and Moo Moo', cursive;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 450%;
    margin: 20px 0px 0px 0px;
}

.tracker {
    display: flex;
    justify-content: center;

}

h2 {
    font-size: 250%;
    margin: 0px 0px 20px 0px;
}

.game-container {
    display: flex;
    justify-content: center;
}

.game-board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 450px;
}

.box {
    height: 150px;
    width: 150px;
    font-size: 120px;
    text-align: center;
    color: #93b1a7;
}

#row0-col1, #row1-col1, #row2-col1 {
    border-left: 5px dashed black;
    border-right: 5px dashed black ;
}

#row1-col0, #row1-col1, #row1-col2 {
    border-bottom: 5px dashed black;
    border-top: 5px dashed black;
}

.button {
    display: flex;
    justify-content: center;
}

#restart {
    margin: 20px 0px 0px 0px;
    border: 3px dashed black;
    width: 145px;
    height: 40px;
    background-color: transparent;
    font-size: 26px;
    font-family: 'Swanky and Moo Moo', cursive;
}

.notification {
    text-align: center;
    margin: 20px 0px 0px 0px;
    font-size: 300%;
}

.hidden {
    visibility: hidden;
}

