* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7a918d;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 500%;
    margin: 50px 0px 30px 0px;
}

.tracker {
    display: flex;
    justify-content: center;

}

h2 {
    font-size: 300%;
    margin: 0px 0px 20px 0px;
}

.game-container {
    display: flex;
    justify-content: center;
}

.game-board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 450px;
}

.box {
    height: 150px;
    width: 150px;
    font-size: 100px;
    text-align: center;
}

#row0-col1, #row1-col1, #row2-col1 {
    border-left: 5px solid #99c2a2;
    border-right: 5px solid #99c2a2 ;
}

#row1-col0, #row1-col1, #row1-col2 {
    border-bottom: 5px solid #99c2a2;
    border-top: 5px solid #99c2a2;
}

.button {
    display: flex;
    justify-content: center;
}

#restart {
    margin: 20px 0px 0px 0px;
    border: 6px ridge black;
    width: 145px;
    height: 40px;
}

